OMWAY_FIREBASE_DB_URL=
OMWAY_FIREBASE_API_KEY=
OMWAY_PC_ID=pc-main
OMWAY_POLL_SECONDS=3
OMWAY_HEARTBEAT_SECONDS=10
OMWAY_TEST_FILE_PATH=C:\Users\kakyg\Desktop\prueba.txt
OMWAY_DISCORD_CLIENT_ID=
OMWAY_DISCORD_REDIRECT_URI=http://127.0.0.1:53682/callback
OMWAY_DISCORD_SCOPES=identify guilds
